# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

*.log
*.temp
/vendor

# adi folder
/adi-linux-64
/adi-linux

# openwifi-hw folder
/openwifi-hw

# driver complier files
*.ko
*.o
*.o.d
*.ko.cmd
*.o.cmd
*.ko.cmd
*.tmp_versions


#vs code
/.vscode


# for git
*.swp
driver/.25379.tmp
driver/.tmp_versions
driver/ad9361/.tmp_versions
driver/openofdm_rx/.tmp_versions
driver/openofdm_tx/.tmp_versions
driver/rx_intf/.tmp_versions
driver/tx_intf/.tmp_versions
kernel_boot/boards